@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$dark: #222427;
$white: #ffffff;
$color-bg: #f9f7f4;
$color-blue: #4380ff;
$color-green: #13c962;
$color-orange: #ff6e41;
$color-outline: #d0dfff;
$desktop: 768px;

@mixin container {
  padding: 20px 40px;

  @media (min-width: $desktop) {
    padding: 90px 60px;
  }
}

@mixin container-section {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

  @media (min-width: $desktop) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  margin: 0 auto;
  background-color: $white;
}

.button {
  display: inline-block;
  width: 100%;
  max-width: 320px;
  margin: 10px 0;
  padding: 10px 30px;
  font: inherit;
  text-align: center;
  color: $white;
  background-color: $color-blue;
  border: none;
  border-radius: 25px;
  box-shadow: 2px 5px 10px rgba(#6d62e5, 0.2);
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.85;
  }

  &:active {
    opacity: 0.75;
  }

  &:focus {
    outline: none;
  }

  &.disabled,
  &:disabled {
    opacity: 0.4;
    cursor: default;
  }

  &-blue {
    background-color: $color-blue;
  }

  &-green {
    background-color: $color-green;
  }

  &-orange {
    background-color: $color-orange;
  }

  &-skip {
    color: rgba($dark, 0.4);
    text-decoration: none;
  }

  &-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-top-bar {
    width: 50%;
    padding: 15px 20px;
  }
}

.status-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  font-size: 14px;
  color: rgba($dark, 0.6);
}

.previous {
  position: relative;
  padding-left: 15px;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 9px;
    height: 9px;
    border: 2px solid rgba($dark, 0.9);
    border-top: 0;
    border-right: 0;
    transform: rotate(45deg);
  }

  &:hover {
    color: rgba($dark, 1);
    &:before {
      border-color: rgba($dark, 1);
    }
  }
}

.question-page {
  @include container();
}

.question-page,
.results-page {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  max-width: $desktop;
  margin: 0 auto;
  color: $dark;
  font-family: 'Poppins', sans-serif;
  background-color: $color-bg;
  box-shadow: 0 5px 15px 0 rgba($dark, 0.2);
  box-sizing: border-box;
}

.question-title {
  // font-size: 24px;
  font-weight: 600;
}

.question-description {
  // font-size: 15px;
}

.options-list {
  @include list-reset();
  // font-size: 15px;
  width: 100%;
  margin-top: 10px;

  &.checkbox {
    margin-bottom: 10px;
    font-weight: 600;
    & > .options-item {
      border-bottom: 1px solid rgba($color-blue, 0.1);
    }
  }

  &.bubble {
    display: flex;
    flex-wrap: wrap;
    & > .options-item {
      flex-wrap: wrap;
    }
  }
}

.options-item {
  & label {
    position: relative;
    display: block;
    padding: 10px 0;
    cursor: pointer;
    user-select: none;
  }
}

.options-input-checkbox {
  & + label {
    padding-left: 36px;
  }

  & + label::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 21px;
    height: 21px;
    border: 1px solid $color-outline;
    border-radius: 7px;
    background: $white;
    outline: none;
  }

  &:hover + label,
  &:checked + label {
    color: $color-blue;
  }

  &:hover + label::before {
    border-color: $color-blue;
  }

  &:checked + label::before {
    background-color: $color-blue;
    border-color: $color-blue;
  }

  &:checked:hover + label::before {
    border-color: $color-outline;
  }

  &:checked + label::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 8px;
    width: 5px;
    height: 9px;
    border: 2px solid $white;
    border-top: 0;
    border-left: 0;
    transform: rotate(40deg);
  }
}

.options-input-radio,
.options-input-bubble {
  & + label {
    margin-bottom: 10px;
    padding: 20px;
    background-color: $white;
    border-radius: 13px;
  }

  &:checked + label {
    background-color: #f1f6ff;
    box-shadow: inset 0px 0px 0px 2px $color-blue;
  }

  &:hover + label {
    padding: 18px;
    background-color: #f1f6ff;
    border: 2px dashed $color-blue;
  }

  &:checked:hover + label {
    padding: 19px;
    border-width: 1px;
  }
}

.options-input-bubble {
  & + label {
    margin-right: 10px;
    width: 100px;
    height: 100px;

    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
  }
}

.emoji {
  font-weight: 400;
}

.text {
  &-blue {
    color: $color-blue;
  }

  &-orange {
    color: $color-orange;
  }

  &-bold {
    font-weight: 600;
  }

  &-opacity {
    font-size: 12px;
    color: rgba($dark, 0.4);
  }
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: $desktop;
  max-height: 80px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fef7ed;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;

  @media (min-width: $desktop) {
    padding: 20px 60px;
  }
}

.results-page {
  background-color: $white;

  & section:not(.section-forecast, .section-habits, .section-people) {
    @include container-section();
  }

  & > section:not(.section-price, .section-pay) {
    margin-top: 30px;
  }
}

.section-title {
  margin: 0;
  margin-bottom: 30px;
  // font-size: 26px;
  text-align: center;
}

.section-timer {
  width: 50%;
  text-align: center;

  & h5 {
    margin: 5px 0;
  }

  & .timer {
    font-size: 22px;
  }
}

.section-result {
  margin-bottom: 30px;
  background-color: #fef7ed;
}

.section-forecast {
  @include container-section();
  padding-top: 80px;

  @media (min-width: $desktop) {
    padding-top: 100px;
  }
}

.section-habits,
.section-people {
  margin-bottom: 30px;

  & .section-title,
  .section-description {
    margin-bottom: 0;
    padding: 0 30px;

    @media (min-width: $desktop) {
      padding: 0 60px;
    }
  }
}

.section-teach {
  & .card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #fef7ed;

    & ul {
      @include list-reset();
      font-weight: 500;

      & li {
        position: relative;
        margin-bottom: 15px;
        padding-left: 40px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: $color-blue;
          outline: none;
        }

        &:after {
          content: '';
          position: absolute;
          top: 3px;
          left: 6px;
          width: 5px;
          height: 9px;
          border: 2px solid $white;
          border-top: 0;
          border-left: 0;
          transform: rotate(40deg);
        }
      }
    }
  }
}

.section-plan {
  & .card-item {
    margin-bottom: 15px;
    background-color: #f5faf7;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & ol {
    @include list-reset();
    margin: 0;
    padding-left: 40px;
    font-weight: 500;
    counter-reset: num;

    & li {
      position: relative;
      margin-bottom: 15px;
      counter-increment: num;

      &:after {
        content: counter(num);
        position: absolute;
        top: 20px;
        left: -40px;
        width: 25px;
        height: 25px;
        color: $white;
        text-align: center;
        line-height: 26px;
        font-size: 14px;
        border-radius: 50%;
        background: $color-blue;
        outline: none;
      }

      &:before {
        content: '';
        position: absolute;
        top: 40px;
        left: -29px;
        width: 2px;
        height: 100%;
        background-color: rgba($color-blue, 0.2);
      }

      &:last-child:before {
        display: none;
      }
    }
  }
}

.section-people {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  & .button {
  }
}

.section-inside {
  padding-bottom: 0;
  background-color: #fefbf6;

  & .section-title {
    text-align: left;
  }

  & .section-subtitle {
    margin-top: 0;
  }

  & .card-item {
    background-color: #fbebb3;
  }

  & ul {
    @include list-reset();
    font-weight: 500;

    & li {
      position: relative;
      margin-bottom: 15px;
      padding-left: 40px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $color-blue;
        outline: none;
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 30px;
        border-bottom: 1px solid #e5e9f1;
      }
    }
  }
}

.section-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefbf6;

  & .section-title {
    margin-bottom: 15px;
    font-size: 40px;

    & sup {
      font-size: 18px;
      font-weight: 400;
      color: rgba($dark, 0.5);
      text-decoration: line-through;
    }
  }
}

.section-guarantee {
  & .section-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;

    @media (min-width: $desktop) {
      flex-direction: row;
      padding: 0;
    }

    & > p {
      &:nth-child(2n-1) {
        margin-right: 30px;
      }
    }
  }

  & p {
    margin-top: 0;
    font-weight: 500;
    text-align: center;
    color: rgba($dark, 0.7);

    @media (min-width: $desktop) {
      text-align: left;
    }
  }
}

.section-pay {
  & .section-title {
    margin-bottom: 15px;
  }

  & .logos-list,
  .links-list {
    @include list-reset();
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }

  &.logos-list {
    flex-wrap: wrap;
  }

  & .links-list li {
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
  }
}

.card-group-big {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    flex-direction: row;
  }

  & > .card-item {
    &:nth-child(2n-1) {
      margin-right: 20px;
    }
  }
}

.card-group-small {
  display: flex;
  justify-content: space-around;

  & > .card-item {
    &:nth-child(2n-1) {
      margin-right: 20px;
    }
  }
}

.card-item {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: $white;
  border-radius: 15px;
  box-sizing: border-box;

  & p {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
  }

  & b {
    font-size: 16px;
  }
}

.card-title {
  text-align: center;

  & > .emoji {
    padding: 10px;
    background-color: #f5faf7;
    border-radius: 50%;
  }
}
