@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('./Animation.scss');

$dark: #222427;
$white: #ffffff;
$color-bg: #f9f7f4;
$color-blue: #4380ff;
$color-green: #13c962;
$color-orange: #ff6e41;
$color-outline: #d0dfff;
$tablet: 768px;
$desktop: 960px;

@mixin container {
  padding: 20px 40px;

  @media (min-width: $tablet) {
    padding: 90px 60px;
  }
}

@mixin container-section {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

  @media (min-width: $desktop) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font-set($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  margin: 0 auto;
  background-color: $white;
  scroll-behavior: smooth;
}

.button {
  display: inline-block;
  width: 100%;
  max-width: 320px;
  margin: 10px 0;
  padding: 15px;
  font: inherit;
  text-align: center;
  color: $white;
  @include font-set(16px, 500);
  background-color: $color-blue;
  border: none;
  border-radius: 25px;
  box-shadow: 2px 5px 10px rgba(#6d62e5, 0.2);
  cursor: pointer;
  user-select: none;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.85;
    }
  }

  &:active {
    opacity: 0.75;
  }

  &:focus {
    outline: none;
  }

  &.disabled,
  &:disabled {
    opacity: 0.4;
    cursor: default;
  }

  &-blue {
    background-color: $color-blue;
  }

  &-green {
    background-color: $color-green;
  }

  &-orange {
    background-color: $color-orange;
  }

  &-skip {
    color: rgba($dark, 0.4);
    text-decoration: none;
  }

  &-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-habit {
    min-width: max-content;
    @include font-set(15px, 400);
    line-height: 20px;
    box-shadow: none;
  }
}

.status-bar {
  position: relative;
  margin-bottom: 20px;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  font-size: 14px;
  color: rgba($dark, 0.6);
}

.status-questions {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba($dark, 0.1) inset;
  }

  &::after {
    width: var(--progress-status);
    background-color: $color-green;
    transition: 1s ease 0.3s;
  }
}

.previous {
  position: relative;
  padding-left: 15px;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 9px;
    height: 9px;
    border: 2px solid rgba($dark, 0.9);
    border-top: 0;
    border-right: 0;
    transform: rotate(45deg);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: rgba($dark, 1);
      &::before {
        border-color: rgba($dark, 1);
      }
    }
  }
}

.question-page {
  @include container();
}

.question-page,
.results-page {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  max-width: $tablet;
  margin: 0 auto;
  color: $dark;
  font-family: 'Poppins', sans-serif;
  background-color: $color-bg;
  box-shadow: 0 5px 15px 0 rgba($dark, 0.2);
  box-sizing: border-box;
}

.results-page {
  max-width: $desktop;
}

.question-title {
  @include font-set(24px, 600);
}

.question-description {
  @include font-set(15px, 400);
  color: rgba($dark, 0.9);
}

.options-list {
  @include list-reset();
  width: 100%;
  margin-top: 10px;

  &.checkbox {
    margin-bottom: 10px;
    font-weight: 600;
    & > .options-item {
      border-bottom: 1px solid rgba($color-blue, 0.1);
    }
  }

  &.bubble {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: $tablet) {
      width: 80%;
    }
    & > .options-item {
      flex-wrap: wrap;
    }
  }
}

.options-item {
  & label {
    position: relative;
    display: block;
    padding: 10px 0;
    line-height: 20px;
    cursor: pointer;
    user-select: none;
  }
}

.options-input-checkbox {
  & + label {
    padding-left: 36px;
  }

  & + label::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 21px;
    height: 21px;
    border: 1px solid $color-outline;
    border-radius: 7px;
    background: $white;
    outline: none;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover + label {
      color: $color-blue;
    }
  }

  &:checked + label {
    color: $color-blue;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover + label::before {
      border-color: $color-blue;
    }
  }

  &:checked + label::before {
    background-color: $color-blue;
    border-color: $color-blue;
  }

  @media (hover: hover) and (pointer: fine) {
    &:checked:hover + label::before {
      border-color: $color-outline;
    }
  }

  &:checked + label::after {
    content: '';
    position: absolute;
    top: 14px;
    left: 8px;
    width: 5px;
    height: 9px;
    border: 2px solid $white;
    border-top: 0;
    border-left: 0;
    transform: rotate(40deg);
  }
}

.options-input-radio,
.options-input-bubble {
  & + label {
    margin-bottom: 10px;
    padding: 20px;
    background-color: $white;
    border-radius: 13px;
  }

  &:checked + label {
    background-color: #f1f6ff;
    box-shadow: inset 0px 0px 0px 2px $color-blue;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover + label {
      padding: 18px;
      background-color: #f1f6ff;
      border: 2px dashed $color-blue;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:checked:hover + label {
      padding: 19px;
      border-width: 1px;
    }
  }
}

.options-input-bubble {
  & + label {
    margin-right: 10px;
    max-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include font-set(13px, 500);
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;

    &::before {
      content: '';
      padding-top: 100%;
    }
  }
}

.emoji {
  font-weight: 400;
}

.text {
  &-blue {
    color: $color-blue;
  }

  &-orange {
    color: $color-orange;
  }

  &-bold {
    font-weight: 600;
  }

  &-opacity {
    font-size: 12px;
    color: rgba($dark, 0.4);
  }
}

.results-page {
  background-color: $white;

  & section:not(.section-forecast, .section-habits, .section-people) {
    @include container-section();
  }

  &
    > section:not(.section-forecast, .section-charts, .section-price, .section-pay) {
    margin-top: 30px;
  }
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: $desktop;
  max-height: 80px;
  padding: 0 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fef7ed;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;

  @media (min-width: $desktop) {
    padding: 20px 60px;
  }
}

.section-timer,
.section-button {
  flex: 1 0 0;
  text-align: center;

  & h5 {
    margin: 5px 0;
  }

  & .timer {
    font-size: 22px;
  }
}

.section-title {
  margin: 0;
  margin-bottom: 30px;

  @include font-set(26px, 600);
  text-align: center;
}

.section-description {
  text-align: center;
  color: rgba($dark, 0.9);
}

.section-forecast {
  @include container-section();
  padding-top: 100px;
  background-color: #fef7ed;

  @media (min-width: $desktop) {
    padding-top: 100px;
  }

  & .calendar-week {
    @include list-reset();
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #e5e9f1;
    counter-reset: num;

    @media (min-width: $tablet) {
      width: 80%;
    }
  }

  & .calendar-day {
    position: relative;
    flex: 1 0 0;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    counter-increment: num;

    &::before,
    &::after {
      position: absolute;
      left: 47%;
      color: rgba($dark, 0.5);
    }

    &::before {
      content: counter(num);
      top: 22px;
    }

    &::after {
      content: '•';
      left: 48%;
      top: 34px;
    }

    &.selected {
      font-weight: 600;
      color: $color-green;

      &::before,
      &::after {
        color: $color-green;
      }
    }
  }

  & .question-answer {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include font-set(50px, 600);
    color: $color-green;
  }
}

.section-charts {
  margin-bottom: 30px;
  padding-top: 10px;
  background-color: #fef7ed;

  & .card-item {
    padding-right: 45px;
    height: 215px;
    background-repeat: no-repeat;

    &.skill {
      background-image: url('../images/chart-skill.png');
      background-position: center 20px;
    }

    &.level {
      background-image: url('../images/chart-level.png');
      background-position: center 10px;
    }
  }
}

.section-habits,
.section-people {
  margin-bottom: 30px;
  overflow: hidden;

  & .section-title,
  .section-description {
    margin-bottom: 0;
    padding: 0 30px;

    @media (min-width: $desktop) {
      padding: 0 60px;
    }
  }

  & .habits-list {
    position: relative;
    height: 480px;
    width: 960px;
    margin-top: 20px;
    overflow: hidden;
  }
}

.section-people {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  & .section-title {
    margin-bottom: 15px;
  }

  & img {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.section-teach {
  & .card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 300px;
    background-color: #fef7ed;
    background-image: url('../images/paper-teach.png');
    background-position: center 10px;
    background-repeat: no-repeat;

    & ul {
      @include list-reset();
      font-weight: 500;

      & li {
        position: relative;
        margin-bottom: 15px;
        padding-left: 40px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: $color-blue;
          outline: none;
        }

        &::after {
          content: '';
          position: absolute;
          top: 3px;
          left: 6px;
          width: 5px;
          height: 9px;
          border: 2px solid $white;
          border-top: 0;
          border-left: 0;
          transform: rotate(40deg);
        }
      }
    }
  }
}

.section-plan {
  .section-title {
    text-align: left;
  }

  & .card-item {
    margin-bottom: 15px;
    background-color: #f5faf7;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & ol {
    @include list-reset();
    margin: 0;
    padding-left: 40px;
    font-weight: 500;
    counter-reset: num;

    & li {
      position: relative;
      margin-bottom: 15px;
      counter-increment: num;

      &::after {
        content: counter(num);
        position: absolute;
        top: 20px;
        left: -40px;
        width: 25px;
        height: 25px;
        color: $white;
        text-align: center;
        font-size: 14px;
        line-height: 26px;
        border-radius: 50%;
        background: $color-blue;
        outline: none;
      }

      &::before {
        content: '';
        position: absolute;
        top: 40px;
        left: -29px;
        width: 2px;
        height: 100%;
        background-color: rgba($color-blue, 0.2);
      }

      &:last-child::before {
        display: none;
      }

      &.partners {
        padding-top: 80px;
        background-image: url('../images/logo-wsj.png'),
          url('../images/logo-amazon.png'), url('../images/logo-nyt.png');
        background-position: 25px 25px, 80px 12px, 210px 18px;
        background-repeat: no-repeat;
      }
    }
  }
}

.section-inside {
  padding-top: 30px;
  padding-bottom: 0;
  background-color: #fefbf6;

  & .section-title {
    text-align: left;
  }

  & .section-subtitle {
    margin-top: 0;
  }

  & .card-group-big {
    position: relative;
  }

  & .card-item {
    padding: 25px 50px 25px 150px;
    @include font-set(15px, 500);
    background-color: #fbebb3;
    background-position: -15px -10px;
    background-repeat: no-repeat;

    &.inside-1 {
      background-image: url('../images/paper-inside-1.png');
    }

    &.inside-2 {
      background-image: url('../images/paper-inside-2.png');
    }
  }

  & ul {
    @include list-reset();
    font-weight: 500;

    & li {
      position: relative;
      margin-bottom: 15px;
      padding-left: 40px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-image: url('../images/icon-star.png');
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 30px;
        border-bottom: 1px solid #e5e9f1;
      }
    }
  }
}

.section-price {
  padding-top: 100px;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefbf6;

  & .section-title {
    margin-bottom: 15px;
    font-size: 40px;

    & sup {
      @include font-set(18px, 400);
      color: rgba($dark, 0.5);
      text-decoration: line-through;
    }
  }
}

.section-guarantee {
  & .section-title {
    font-size: 25px;
  }

  & .section-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;

    @media (min-width: $tablet) {
      flex-direction: row;
      padding: 0;
    }
  }

  & p {
    margin-top: 0;
    font-weight: 500;
    text-align: center;
    color: rgba($dark, 0.7);

    &:nth-child(2n-1) {
      margin-right: 30px;
    }

    @media (min-width: $tablet) {
      text-align: left;
    }
  }
}

.section-pay {
  & .section-title {
    margin-bottom: 15px;
    font-size: 14px;
  }

  & .logos-list,
  .links-list {
    @include list-reset();
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }

  & .logos-list {
    flex-wrap: wrap;
    align-items: center;

    & li {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  & .links-list li {
    @include font-set(12px, 500);
    text-decoration: underline;
    cursor: pointer;
  }

  & span {
    display: block;
    text-align: center;
  }
}

.card-group-big {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  & > .card-item {
    &:nth-child(2n-1) {
      margin-right: 20px;
    }
  }
}

.card-group-small {
  display: flex;
  justify-content: space-around;

  & > .card-item {
    &:nth-child(2n-1) {
      margin-right: 20px;
    }
  }
}

.card-item {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: $white;
  border-radius: 15px;
  box-sizing: border-box;

  & p {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
  }

  & b {
    font-size: 16px;
  }
}

.card-title {
  @include font-set(18px, 600);
  text-align: center;

  & > .emoji {
    padding: 10px;
    background-color: #f5faf7;
    border-radius: 50%;
  }
}
