@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$dark: #222427;
$white: #ffffff;
$color-bg: #f9f7f4;
$color-blue: #4380ff;
$color-green: #13c962;
$color-orange: #ff6e41;
$desktop: 768px;

@mixin container {
  padding: 20px 40px;

  @media (min-width: $desktop) {
    padding: 90px 60px;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  margin: 0 auto;
  background-color: $white;
  box-sizing: border-box;
}

.question-page {
  @include container();
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  max-width: $desktop;
  margin: 0 auto;
  color: $dark;
  font-family: 'Poppins', sans-serif;
  background-color: $color-bg;
  box-shadow: 0 5px 15px 0 rgba($dark, 0.2);
}

.button {
  display: inline-block;
  max-width: 100%;
  margin: 10px 0;
  padding: 10px 30px;
  font: inherit;
  text-align: center;
  color: $white;
  vertical-align: middle;
  background-color: $color-blue;
  border: none;
  border-radius: 25px;
  box-shadow: 2px 5px 10px rgba(#6d62e5, 0.2);
  cursor: pointer;
  user-select: none;

  @media (min-width: $desktop) {
    max-width: 320px;
  }

  &:hover {
    opacity: 0.85;
  }

  &:active {
    opacity: 0.75;
  }

  &:focus {
    outline: 1px dashed #d0dfff;
    outline-offset: -3px;
  }

  &.disabled,
  &:disabled {
    opacity: 0.4;
    cursor: default;
  }

  &-blue {
    background-color: $color-blue;
  }

  &-green {
    background-color: $color-green;
  }

  &-orange {
    background-color: $color-orange;
  }
}

.status-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  font-size: 14px;
  color: rgba($dark, 0.6);
}

.previous {
  position: relative;
  padding-left: 15px;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 9px;
    height: 9px;
    border: 2px solid rgba($dark, 0.9);
    border-top: 0;
    border-right: 0;
    transform: rotate(45deg);
  }

  &:hover {
    color: rgba($dark, 1);
    &:before {
      border-color: rgba($dark, 1);
    }
  }
}

.question-title {
  // font-size: 24px;
  font-weight: 600;
}

.question-description {
  // font-size: 15px;
}

.options-list {
  @include list-reset();
  // font-size: 15px;
  width: 100%;
  margin-top: 10px;

  &.checkbox {
    margin-bottom: 10px;
    font-weight: 600;
    & > .options-item {
      border-bottom: 1px solid rgba($color-blue, 0.1);
    }
  }

  &.bubble {
    display: flex;
    flex-wrap: wrap;
    & > .options-item {
      flex-wrap: wrap;
    }
  }
}

.options-item {
  & label {
    position: relative;
    display: block;
    padding: 10px 0;
    cursor: pointer;
    user-select: none;
  }
}

.options-input-checkbox {
  & + label {
    padding-left: 36px;
  }

  & + label::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 21px;
    height: 21px;
    border: 1px solid #d0dfff;
    border-radius: 7px;
    background: $white;
    outline: none;
  }

  &:hover + label,
  &:checked + label {
    color: $color-blue;
  }

  &:hover + label::before,
  &:focus + label::before {
    border-color: $color-blue;
  }

  &:checked + label::before {
    background-color: $color-blue;
    border-color: $color-blue;
  }

  &:checked:focus + label::before {
    border-color: #d0dfff;
  }

  &:checked + label::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 8px;
    width: 5px;
    height: 9px;
    border: 2px solid $white;
    border-top: 0;
    border-left: 0;
    transform: rotate(40deg);
  }
}

.options-input-radio,
.options-input-bubble {
  & + label {
    margin-bottom: 10px;
    padding: 20px;
    background-color: $white;
    border-radius: 13px;
  }

  &:hover + label,
  &:checked + label {
    background-color: #f1f6ff;
    box-shadow: inset 0px 0px 0px 2px $color-blue;
  }

  &:focus + label {
    padding: 19px;
    border: 1px dashed $color-blue;
  }
}

.options-input-bubble {
  & + label {
    margin-right: 10px;
    width: 100px;
    height: 100px;

    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
  }
}

.emoji {
  font-weight: 400;
}
